<!DOCTYPE html>
<html>
  <head>
    {{!-- <title>{{title}}</title> --}}
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    {{{body}}}
    {{!-- the entire contents of whichever hbs file is being rendered will go here --}}

    <script src='/javascripts/script.js'></script>
  </body>
</html>
